$primaryColor: #0556f3;
$headingColor: #25265e;
$textColor: #525252;
$borderColor: #d3dce6;
$fsize: 16px;

//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
